.body{
  background-color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
  display: flex;
  color: #000000;
  padding:2rem;
  justify-content: space-between;
  height : 20px;
  border : 2px solid black;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:top;
  padding : 20px;
  background-color: #242424;
  color :antiquewhite;
  margin-top : 150px;
}

.innerFooter{
  padding : 20px;
}
.innerFooter ul li{
  list-style: none;
}

.logo {
  height : 20px;
  width: 50px;
}
.nav-items ul{
  display: flex;
  gap: 2rem;
  padding: 0;
}
.nav-items ul li{
  list-style: none;
} 
.restuarant-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin : 10px;
  flex-wrap: wrap;
}
.card{
  height: 350px;
  width : 220px;
  border : 2px solid black;
  margin : 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding  :3px;
  background-color: antiquewhite;
  color: #000000;
}

.card-details{
  padding: 0;
  margin : 0px 10px;
}

.card img{
  height : 200px;
  width : 200px;
  border : 2px solid black;
  margin : 10px 0px;
}

.categoryTitle{
  font-size: 24px;
  font-weight: 600;
  cursor : pointer;
  margin : 30px;
  background-color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.outerItems{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin : 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.itemList{
  border : 2px solid black;
  border-radius: 4px;
  background-color: antiquewhite;
  padding : 10px;
  display: flex;
  flex-direction: row;
  justify-items: space-between;
  padding : 10px;
  width : 75%;
}


.itemImage{
  height : 100px;
  width : 100px;
  border: 2px solid black;
  border-radius: 4px;
}

.innerItems{
  display: flex;
  flex-direction: column;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
